.bg-login-image {
    background: url("http://aavo.free.fr/graph/logoaavo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-login {
    backgound-color: #4e73df;
}

.d-sm-block2 {
    display: inline!important;
}

.dropZone {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(111, 66, 193, 0.1);
    border: 1px solid rgba(111, 66, 193, 0.3);
    &-dragover {
	background-color: #eef;
    }
    &-filename {
	margin-right: 0.5em;
    }
}

.proposal {
    cursor: pointer;
    font-size: 1rem;
}

@media (max-width: 576px) {
    .d-sm-block2 {
	display: none!important;
    }
}

@media print {
    .d-print-50 {
        zoom: 50%;
    }
}
