.bg-login-image {
    background: url("http://aavo.free.fr/graph/logoaavo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-login {
    backgound-color: #4e73df;
}

.d-sm-block2 {
    display: inline!important;
}

@media (max-width: 576px) {
    .d-sm-block2 {
	display: none!important;
    }
}
