extends layout.pug

block content
  .container.text-center
    h1 Page inconnue
    img.img-fluid.mb-2(src="/img/vache2.jpeg")
    p Vous vous êtes vaché ! Si vous pensez qu'il s'agit d'une erreur, veuillez contacter quelqu'un