extends layout.pug

block scripts
  title Déclarer un FLARM
  script(src="js/declarerFLARM.js")

block content
  .row
    h1 Déclaration d'un FLARM
  if (count($messages) > 0) || (count($errors) > 0)
    .row.mb-4
      h4 Résultat de l'analyse:
      alert.alert-info
        each line in $messages
          p= $line
      alert.alert-danger
        each line in $errors
          p= $line

  .row
    p En téléchargeant des fichiers IGC le système est capable d'en extraire l'immatriculation et la version du logiciel.
      br
      | Ainsi le contrôle des FLARM est plus aisé et plus rapide.
  .row.spinner.visually-hidden
    .col-4.text-center
      .spinner-border.text-primary(role="status")#spinner
      br
      span Upload en cours
  
  .row
    .col-4
      .mb-3
        form(method="POST" enctype="multipart/form-data")#form
          label.form-label(for="upload") Sélectionner les fichiers à uploader
          input.form-control(type="file" name="igc[]" multiple)#upload
  .hstack.gap-4.mb-3
    button.btn.btn-danger.back Retour
