extends layout.pug

block scripts
  script(src="js/index.js")

block content
  .container
    .row
      $msg="Bonjour " . $name . " (".$givavNumber.")"
      h1
        p= $msg
    .row
      p= "Heures de CFE à faire : "
      p= "Heures de CFE soumises : " . $submited
      p= "Heures de CFE validées : " . $validated
      p= "Heures de CFE restant à faire : "

    .hstack.gap-4.mb-3
      button.btn.btn-warning#liste validations
      button.btn.btn-info(type='button') Télécharger
      button.btn.btn-success#NewRec Nouvel Enregistrement
      button.btn.btn-danger#logout Déconnexion
