extends layout.pug

block scripts
  title Liste des membres
  script(src="js/listeMembres.js")

block content
  .row
    h1 Liste des membres
  .row
    .col-md-3.offset-md-9
      .row
        label.col-sm-3.col-form-label(for="search") Recherche:&nbsp;&nbsp;
        .col-sm-9
          input.form-control(type="text" placeholder="nom / prénom")#search
  .row
    .col-12
      table.table.table-striped#list
        thead
          tr
            th Endosser
            th Numéro GIVAV
            th Nom
            th CFE à réaliser
            th Détails
            th Admin
        tbody
          each membre in $membres
            tr(x-num=$membre['givavNumber'])
              td
                if $inSudo == false && $currentUser != $membre['givavNumber']
                  button.btn.btn-secondary.sudo Endosser
              td #{$membre['givavNumber']}
              td #{$membre['name']}
              td #{$membre['cfeTODO']}
              td
                button.btn.btn-primary.displayDetails
                  i.bi.bi-eye
                  | &nbsp;Détails
              td.estAdmin(value=$membre['isAdmin'])
        tfoot
          tr
            th Endosser
            th Numéro GIVAV
            th Nom
            th CFE à réaliser
            th Admin
  .hstack.gap-4.mb-3
    button.btn.btn-danger.back Retour
