extends layout.pug

block scripts
  title Liste des membres
  script(src="js/listeMembres.js")
  script
    | var defaultCFE_TODO = #{$defaultCFE_TODO};

block content
  .row
    h1 Liste des membres
  .row
    .col-md-1
      .hstack.gap-4.mb-3
        button.btn.btn-danger.back Retour
        button.btn.btn-primary.download Télécharger
    .col-md-4.offset-md-2
      .row
	.col-sm-2
          select.form-control#filter
            option(value="all") Tous
            option(value="owner") Propriétaires
            option(value="realizedMoreThan0") Ayant réalisé des heures
            option(value="validated") Les membres ayant validés leurs CFE
            option(value="0") Dispensés de CFE
            option(value="admin") Les admin
            option(value="treasurer") Les trésoriers
            option(value="not0notDefault") Ni à CFE 0 ni au défaut
            option(value="noRevealWhenInDebt") Ne sortent pas lors de la vérification avec Click'n Glide des comptes négatifs
    .col-md-3
      .row
        label.col-sm-3.col-form-label(for="search") Recherche:&nbsp;&nbsp;
        .col-sm-9
          input.form-control(type="text" placeholder="nom / prénom")#search
  .row
    .col-12
      table.table.table-striped#list
        thead
          tr
            th Endosser
            th Numéro GIVAV
            th Nom
            th CFE réalisées
            th CFE à réaliser
            th Détails
            th Propriétaire
            th Admin
            th Trésorier
            th Affichage compte négatif
        tbody
          each membre in $membres
            tr(x-num=$membre['givavNumber'] x-name=$membre['name'] x-isAdmin=$membre['isAdmin'] x-isTreasurer=$membre['isTreasurer'] x-cfeTODO=$membre['cfeTODO'] x-cfeValidated=$membre['cfeValidated'], x-cfeCompleted=$membre['cfeCompleted'] x-noRevealWhenInDebt=$membre['noRevealWhenInDebt'] x-isOwnerOfGlider=$membre['isOwnerOfGlider'])
              td
                if ($inSudo == false) && ($currentUser != $membre['givavNumber'])
                  button.btn.btn-secondary.sudo
                    i.bi.bi-person-circle.me-2
                    span.d-none.d-sm-block2 Endosser
              td #{$membre['givavNumber']}
              td #{$membre['name']}
              td
                if ($membre['cfeTODO'] > 0) && ($membre['cfeValidated'] > 0)
                  .progress(role="progressbar" aria-label="heures réalisées" aria-valuenow=$membre['cfeValidated'] aria-valuemin="0" aria-valuemax=$membre['cfeTODO'])
                    - $percent = ($membre['cfeValidated']/$membre['cfeTODO'])*100
                    .progress-bar(style="width: "+$percent+"%;")
                .text-center
                  = durationToHuman($membre['cfeValidated'])
              if $membre['cfeTODO'] == 0
                td aucun
              else
                td= durationToHuman($membre['cfeTODO'])
              td
                button.btn.btn-primary.displayDetails
                  i.bi.bi-eye
                  span.d-none.d-sm-block2 &nbsp;Détails
              td.isOwnerOfGlider
              td.isAdmin
              td.isTreasurer
              td.noRevealWhenInDebt
          tr.sum
            td.text-end
              h5 Total
            td.sumPeople
            td
            td.text-center.sumValidated
              .progress(role="progressbar" aria-label="heures réalisées" aria-valuenow=0 aria-valuemin="0" aria-valuemax=0)
                .progress-bar(style="width: "+$percent+"%;")
              .sumValidatedLabel
            td.text-center.sumTODO
            td
            td
        tfoot
          tr
            th Endosser
            th Numéro GIVAV
            th Nom
            th CFE réalisées
            th CFE à réaliser
            th Détails
            th Propriétaire
            th Admin
            th Trésorier
            th Affichage compte négatif
  .row
    .col-4
      p Statistiques annuelles
      table.table.table-striped
        thead
          tr
            th Année
            th Nombre de participant
            th Nombre d'heures validées
        tbody
          each line in $statsYear
            tr
              td= $line['year']
              td= $line['nb_membres']
              td= $line['hours']
        tfoot
          tr
            th Année
            th Nombre de participant
            th Nombre d'heures validées
  .hstack.gap-4.mb-3
    button.btn.btn-danger.back Retour
    button.btn.btn-primary.download Télécharger
