extends layout.pug

block scripts
  title Les dernières déclarations
  script(src="js/listeDernieresCFE.js")

block content
  .row
    h1 Les dernières déclarations
  .row.mb-3
    .col
      button.btn.btn-danger.back Retour
  .row
    .col-md-3.offset-md-9
      .row
        label.col-sm-3.col-form-label(for="search") Recherche:&nbsp;&nbsp;
        .col-sm-9
          input.form-control(type="text" placeholder="")#search
  .row
    .col-12
      table.table.table-striped#list
        thead
          tr
            th Date
            th(width="15%") Par
            th(width="10%") Statut
            th(width="15%") Travaux
            th(width="5%") Bénéficiaire
            th(width="7%") Type
            th(width="7%") Durée
            th Détails
            th(width="10%") Cause du rejet
        tbody
          each line in $lines
            tr(x-validation=$line['status'] x-duration=$line['duration'])
              td.date= $line['workDate']
              td #{$line['name']} (#{$line['givavNumber']})
              td.status(x-validated-by=$line['validatedName'])= $line['status']
              td
                a(href="/detailsProposition?num="+$line['proposalId']) #{$line['proposalTitle']}
              td= $line['beneficiary']
              td= $line['workType']
              td= durationToHuman($line['duration'])
              td.small= $line['details']
              td.small= $line['rejectedCause']
          tr.pt-5.sum
            td
            td
            td
            td
            td
            td
              b Total
            td
              b.durationSum
            td
            td
        tfoot
          tr
            th Date
            th Statut
            th Travaux
            th Bénéficiaire
            th Type
            th Durée
            th Détails
            th Cause du rejet
  .row.mb-3
    .col
      button.btn.btn-danger.back Retour
