extends layout.pug

block scripts
  title Liste des réponses aux formulaires
  script(src="js/listeFormulaires.js")
  script.
    var answers = !{$answers};

block content
  .row
    h1 Liste des réponses aux formulaires
  .row.d-none.d-print-block
    p.small Date d'impression&nbsp;
      b= timestampToDate(time())
  .row.d-print-none
    .col-md-1
      button.btn.btn-danger.back Retour
    .col-3.offset-5
      label.col-sm-3.col-form-label(for="formSelection")
        b Formulaire:&nbsp;&nbsp;
      select.form-control#formSelection

    .col-2.offset-1
      label.col-sm-3.col-form-label(for="search")
        b Recherche:&nbsp;&nbsp;
      input.form-control(type="text" placeholder="formulaire / nom / ...")#search
  .row.mt-4
    .col-12
      .table-responsive-xxl.d-print-50
        table.table.table-striped#list

  .hstack.gap-4.mb-3.d-print-none
    button.btn.btn-danger.back Retour
    button.btn.btn-primary.download Télécharger en CSV

  .modal(tabindex="-1" role="dialog" aria-hidden="true")#modalEdit
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h5 Editer le commentaire
          button.btn.btn-close(type="button" data-bs-dismiss="modal")
        .modal-body
          form(method="POST" action="/editFormAnswer")#formEdit
            input(type="hidden" name="id")#answerId
            div#editControls
            .mb-3
              label.form-label(for="comment") Commentaires
              textarea.form-control(name="comment" placeholder="Commentaires" rows="5")#comment
        .modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Annuler
          button.btn.btn-danger(type="button")#deleteAnswer Supprimer
          button.btn.btn-primary(type="button")#addComment Enregistrer
