extends layout.pug

block scripts
  title Liste des machines
  script(src="js/listeMachines.js")

block content
  .row
    h1 Liste des machines
  .row
    .col-md-2
      button.btn.btn-danger.back Retour
      button.btn.btn-info.parametrage Paramètrage
    .col-md-3
      .row
        label.col-sm-3.col-form-label(for="search") Recherche:&nbsp;&nbsp;
        .col-sm-9
          input.form-control(type="text" placeholder="immat / type")#search
  .row
    .col-12
      table.table.table-striped#list
        thead
          tr
            th Voir
            th Immatriculation
            th Version FLARM
            th Dernière vérification FLARM
        tbody
          each machine in $machines
            tr(x-num=$machine['id'])
              td
                button.btn.btn-primary.displayDetails
                  i.bi.bi-eye
                  span.d-none.d-sm-block2 &nbsp;Détails
              td
                b.display-6= $machine['immat'].' '
                if $machine['concours'] != ''
                  mark= '(' . $machine['concours'] . ') '
                = $machine['modele']
              td
                if $machine['version_soft'] != 'NA'
                  if estUneBonneVersionFlarm($machine['version_soft'])
                   .alert.alert-success.text-center.mt-0.mb-0
                      = machine['version_soft']
                  else
                    .alert.alert-danger.text-center.mt-0.mb-0
                      i.bi.bi-exclamation-triangle-fill.me-2
                      = machine['version_soft']
                      i.bi.bi-exclamation-triangle-fill.ms-2
                else
                  .alert.alert-danger.text-center.mt-0.mb-0
                    i.bi.bi-exclamation-triangle-fill.me-2
                    | Version inconnue
                    i.bi.bi-exclamation-triangle-fill.ms-2
              td= timestampToDate($machine['quand'])
                if $machine['flarm_mis_a_jour_par'] != null
                  = ' (par '.$getMembreNameByGivavNumber($machine['flarm_mis_a_jour_par']).')'
        tfoot
          tr
            th Voir
            th Immatriculation
            th Version FLARM
            th Dernière vérification FLARM
  .hstack.gap-4.mb-3
    button.btn.btn-danger.back Retour
