extends layout.pug

block scripts
  title Paramètrage FLARM
  script(src="js/parametresFlarm.js")

block content
  .row
    h1 Paramètrage FLARM
  .row
    .col-4
      form(method="POST")
        .mb-3
          label.form-label(for="flarmGoodSoftVersion") Liste des bonnes versions FLARM (1 numéro de version par ligne):
          textarea.form-control(name="flarmGoodSoftVersion" rows="10")#flarmGoodSoftVersion= $flarmGoodSoftVersion
        .mb-3
          label.form-label(for="flarmKnownHardware") Liste des hardware qui seront analysés (but: interdire les fichiers qui viennent de XCSoar ou des Oudie):
          textarea.form-control(name="flarmKnownHardware" rows="10")#flarmKnownHardware= $flarmKnownHardware
        button.btn.btn-primary(type="submit") Sauvegarder

  .hstack.gap-4.mb-3.mt-3
    button.btn.btn-danger.back Annuler
