extends layout-forms.pug

block scripts
  title Challenge Raymond Schalow 2024
  script(src="/js/schalow-2024.js")

block content
  .row
    .col
      .row
        h1.display-4 Challenge Raymond Schalow 2024
      .row
        h3.display-6 Du 8 au 12 mai 2024
      hr.border.border-primary.border-3
      .row
        h4 Inscrivez-vous pour participer au&nbsp;
          a(href="http://aavo.free.fr/activite/scha2023.html") Challenge Raymond Schalow !
      .row
        p Le but du jeu est de se faire
          b &nbsp;plaisir&nbsp;
          | et de voler ensemble sur les mêmes circuits. Mais c'est aussi s'entraîner sur la campagne pour les élèves et voler au-delà du local.
        p.my-0 C'est aussi une équipe de
          b &nbsp;bénévoles&nbsp;
          | qui comme chaque année donne de son temps et de son énergie pour fournir l'intendance nécessaire à l'organisation :
        p.my-0
          b Un météo&nbsp;
          | qui dès l'aurore analyse les prévisions d'au moins 10 applications météos pour en faire la synthèse !
        p.my-0 Puis un
          b &nbsp;responsable des circuits&nbsp;
          | va dessiner le meilleur circuit en intégrant tous les paramètres
          i &nbsp;heure de début et fin de convection, vent, espaces aériens, menaces (cirrus, alto, pluie)).
          | &nbsp;Le but étant de se faire plaisir sans envoyer tous le monde dans les champs !
        p.my-0 Des
          b &nbsp;chefs de piste&nbsp;
          | pour gérer la sécurité, organiser la piste et les décollage.
        p.my-0 Des
          b &nbsp;remorqueurs&nbsp;
          | pour vous mettre en l'air le plus rapidement possible.
        p.my-0 Nos
          b &nbsp;secrétaires préférées&nbsp;
          | pour organiser l'accueil, le camping, le repas de clotûre et le podium qui récompense le vainqueur !
        p.mt-0 Des
          b &nbsp;scoreurs&nbsp;
          | après les vols pour analyser les fichiers et établir les classements !
        p L'idée est d'organiser un championnat amical pour s'amuser mais avec sérieux.
        p Généralement les circuits sont de type AAT : donc des circuits avec des beercans larges permettant aux pilotes débutants de tourner sur de petites distances tout en laissant les bons pilotes / bonnes machines accumuler les kilomètres. Ce format permet aussi de raccourcir la distance si jamais les conditions météo se révèlent moins bonne. L'objectif est que chacun puisse revenir au terrain en ayant réalisé son circuit.
        p Les points sont attribués en fonction de la vitesse moyenne sur le circuit pondéré par le handicap du planeur (104 pour un Pégase, 110 pour un Duo-Discus), donc à vitesse égale le Pégase gagne !
        p.mb-0 Vous pouvez concourir
          b &nbsp;seul&nbsp;
          | ou avec un
          b &nbsp;coéquiper&nbsp;
          | sur la même machine, cela permet à chacun de voler et de dévâcher à tour de rôle.
        p Les
          b &nbsp;biplaces&nbsp;
          | &nbsp;(le
          b &nbsp;Perkoz
          | &nbsp;et les
          b &nbsp;2 Duo-Discus
          | ) embarquent chacun un instructeur pour emmener des élèves (et des pilotes brevetés) pour améliorer son pilotage et perfectionner ces capacités (décisions, capacité à monter, cheminement ...). S'inscrire permet d'anticiper le nombre d'instructeur nécessaire et de préparer la rotation des élèves.
        p Il n'est pas obligatoire de voler tous les jours.
        p.my-0 Les points sont attribués au planeur, peut importe s'il y a 1 pilote, 2 co-équipiers ou un biplace.
        p.mt-0 Traditionnellement le vainqueur organisera le Schalow l'année prochaine !
        p Une édition un peu spéciale à lieu cette année car le Schalow se déroulera en même temps que le&nbsp;
          a(href="https://cfe.aavo.org/forms/cirj-2024") Championnat Inter-Régional Jeunes.
        p N'hésitez pas à venir en discuter avec les membres de la commission sportive : Alizée Petit, Charlotte Dubois, Florian Castel.
  hr.border.border-primary.border-3
  .row
    .col-6.offset-3
      h5 Rejoignez ceux qui se sont déjà inscrits !

  .row
    .col-6.offset-3
      .table-responsive-xxl.d-print-50
        table.table.table-striped#list
          thead
            tr
              th
              th En tant que
              th Sur
          tbody
            - $answers = getAnswersByForm('schalow-2024')
            each answer in $answers
              tr
                td= $answer['data']['nom']
                td= $answer['data']['inscription']
                td= $answer['data']['typePlaneur']
            tr
              td
                b Il y a #{myPluralize(count($answers), 'inscrit')}, bientôt un de plus ?

  hr.border.border-primary.border-3

  if $stored === false
    .row.mt-5
      h5 Formulaire d'inscription :
    form(method="POST")
      .row.mb-2
        .col
          label.form-label(for="nom") Prénom et nom
          input.form-control(type="text" name="nom" placeholder="Prénom et Nom")#nom
      .mb-2
        label.form-label(for="inscription") Je souhaite voler
        select.form-control(name="inscription")#inscription
          option(value="en instruction") Avec un insctructeur
          option(value="en equipe") En équipe
          option(value="en individuel") En individuel
          option(value="instructeur") En tant qu'insctructeur sur un biplace
      .row.mb-2.d-none
        .col
          label.form-label(for="typePlaneur") Je souhaite voler sur
          input.form-control(type="text" name="typePlaneur" placeholder="Pégase ...")#typePlaneur
      .row.mb-2.d-none
        .col
          label.form-label(for="equipe") Le prénom et nom de mon co-équipier
          input.form-control(type="text" name="equipe" placeholder="Prénom et Nom")#equipe
      .row.mb-2
        label.form-label(for="presence") Je serais présent
        select.form-control(name="presence")#presence
          option(value="tous les jours") Tous les jours
          option(value="1 jour sur 2") 1 jour sur 2
          option(value="c'est compliqué") C'est compliqué
      .mb-2
        button.btn.btn-primary(type="submit")#submit Enregistrer
  else
    h3 Merci et rendez-vous le 8 mai !
