extends layout.pug

block scripts
  title Tableau de bord
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.3/chart.min.js")
  //script(type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/helpers.min.js")
  script(type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js")
  script(type="module" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0")
  script(src="js/tableau-de-bord.js")
  script(src="cache/stats.js")

block content
  .row
    h1 Tableau de bord
  .row
    .col
      div(style="width: 800px;")
        canvas#licence
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#lancements
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#hdv_club_et_banalise
    .col
      div(style="width: 800px;")
        canvas#hdv_club
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#vi_club
  hr.mt-5
  .row
    .col
      h3 Décollage jusqu'au
        span#misesEnLAirTitle
  .row
    .col
      table.table#misesEnLAir
