extends layout.pug

block scripts
  title Tableau de bord
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.3/chart.min.js")
  //script(type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/helpers.min.js")
  script(type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js")
  script(type="module" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0")
  script(src="js/tableau-de-bord.js")
  script(src="cache/stats.js")

block content
  .row
    h1 Tableau de bord
    p.small Source: base de données GIVAV
      br
      i#activity
  .row
    .col
      div(style="width: 800px")
        canvas#licenceAnnuel
      p.mt-3
        i Ce sont les licences qui sont prises à Chérence, donc hors les quelques pilotes qui volent à Chérence mais qui prennent leurs licences ailleurs  
    .col
      div(style="width: 800px")
        canvas#valoFraisInfraAnnuel
      p.mt-3
        i Cotisations annuelles, frais technique, taxe hangar & remorque et nuits en dortoir
  hr.mt-5
  .row
    .col
      div(style="width: 500px; height: 500px;")
        canvas#hdvClubCDBAnnuel
    .col
      div(style="width: 500px; height: 500px;")
        canvas#hdvClubInstructionAnnuel
    .col
      div(style="width: 500px; height: 500px;")
        canvas#valoCelluleAnnuel
    p.mt-3
      i Heures de vol au départ de LFFC (ce sont les vols qui apparaissent sur la planche GIVAV de Chérence). CDB = Vols en solo et Vols partagés (donc hors VI Club, VI Perso, Vols d'essai ...). Les vols compris dans un forfait comptent pour x heures de vol mais 0 € de revenu
  hr.mt-5
  .row.text-center
    .col
      div(style="width: 500px; height: 500px;")
        canvas#hdvBanaliseCDBAnnuel
    .col
      div(style="width: 500px; height: 500px;")
        canvas#hdvBanaliseInstructionAnnuel
    p.mt-3
      i Heures de vol au départ de LFFC (ce sont les vols qui apparaissent sur la planche GIVAV de Chérence). CDB = Vols en solo et Vols partagés (donc hors VI Club, VI Perso, Vols d'essai ...)
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#hdvPilotesDansForfait
      p.mt-3
        i Ce sont les heures de vol en tant que commandant de bord (vols solo) lorsque le commandant de bord vole sur une machine comprise dans son forfait
    .col
      div(style="width: 800px;")
        canvas#valoForfaitAnnuel
      p.mt-3 Selon la date d'achat des forfaits. Ne sont pas comptabilisé les forfaits journées découvertes, stage et forfait école (années 2020 et 2021)
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#hdvPilotesHorsForfait
    .col
      div(style="width: 800px;")
        canvas#valoCelluleAnnuel2
    p.mt-3
      i Ce sont les vols qui ne sont pas au forfait (vols solo, partagé, instruction, VI perso, VI club ...)
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#lancementRemorqueAnnuel
      p.mt-3
        i Les remorqués corrigés sont les remorqués en fonction de l'altitude de largage (0.5 pour les 250m, 1 pour les 500m, 1.5 pour les 750m et 2 pour les 1000m, les autres remorqués ne sont pas comptabilisés)
    .col
      div(style="width: 800px;")
        canvas#valoLancementAnnuel
      p.mt-3
        i Ne sont pas comptés les lancements autonomes transformées en treuillées
  hr.mt-5
  .row  
    .col
      div(style="width: 800px;")
        canvas#lancementAnnuel
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#valoMoteurAnnuel
      p.mt-3
        i Il s'agit du temps moteur du F-CPPM (SF28)
  .row
  hr.mt-5
  .row
    h2 Activité au mois
  .row
    .col
      div(style="width: 800px;")
        canvas#licence
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#lancements
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#hdv_club
    .col
      div(style="width: 800px;")
        canvas#hdv_club_et_banalise
  hr.mt-5
  .row
    .col
      div(style="width: 800px;")
        canvas#vi_club
